body{
    background: #636157;
    color:#f5f4f0;


}
ul li {
    display: inline-block;
    margin-left: 30px;
    font-family: Arial;
    font-size: 20px;
    padding: 10px;
    line-height: 60px;
}
button{
    border:none;
    background:#636157;
    color: rgba(253, 156, 77, 0.76);
    font-size:23px;
    text-transform:uppercase;
}
#banner{
    padding:50px;
    margin:0 auto;
    line-height: 30px;
    font-size: 20px;

}
#banner h1{
    text-align:center;
    text-transform:uppercase;

}
#li1{
    color: #4b8be2;
}

#li2{
    color: #e266b4;
}
#li3{
    color: #41e2d6;
}
#li4{
    color: #e24328;
}

#li5{
    color: #3e19e2;
}
#li6{
    color: #13e2a2;
}
#li7{
    color: #b7e20a;
}